<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beginner Portfolio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;700&family=Silkscreen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/styling/page.css">
        <link rel="stylesheet" href="../static/styling/body.css">
        <link rel="stylesheet" href="../static/styling/animations.css">
    </head>
    <body>
        <header>
            <div class="left-head">
                <img class="burger" src="../static/images/burger.jpg" alt="">
            </div>
            <div class="right-head">
                <div>PROJECTS</div>
                <div>ACADEMICS</div>
                <div>SKILLS</div>
                <div>EXPERIENCE</div>
            </div>
        </header>
        <div class="container">
            <div class="left-main">
                <div>
                    <img class="pp" src="../static/images/profile.jpg" alt="">
                </div>
                <div>
                    <h3>SITANSHU MOHAPATRA</h3>
                </div>
                <div>
                    <p class="text">EARNEST &#124; HARDWORKING &#124; COMPETETIVE</p>
                    <p class="texts">An aspiring astrophysicist and a developing Software Developer.</p>
                    <br>
                    <p class="texts">Here to &#124; <strong>Commit Mistakes &#124; Learn &#124; and Engineer</strong></p>
                </div>
            </div>
            <div class="right-main">
                <div class="acads">
                    <img src="../static/images/IITG_logo.png" alt="">
                    <img src="../static/images/cbse.svg" alt="">
                </div>
                <div class="skill">
                    <img src="../static/images/html.png" alt="">
                    <img src="../static/images/CSS.png" alt="">
                    <img src="../static/images/Python.png" alt="">
                    <img src="../static/images/java.webp" alt="">
                </div>
                <div class="interest">
                    <p>ASTROPHYSICS</p>
                    <p>ROBOTICS</p>
                    <p>ECONOMICS</p>
                    <p>CODING</p>
                </div>
            </div>
        </div>
        <footer>
            <p>Contact Me</p>
            <a href="https://www.instagram.com/_.sitanshu._/" target="_main"><img src="../static/images/instagram-logo.webp" alt=""></a>
            <a href="https://www.linkedin.com/in/sitanshu-mohapatra-b1a91227a/" target="_main"><img src="../static/images/lk-logo.webp" alt=""></a>
        </footer>

        
    </body>
</html>