<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
    <div class="head-style"></div>
    <div class="all_posts">
        <h3>Blogs</h3>
        <div class="post">
            <h2>{{ data[id-1]["heading"] }}</h2>
            <h4>{{ data[id-1]["author"] }}</h4>
            <p>{{ data[id-1]["text"] }}</p>
        </div>
    </div>
</body>
</html>